@using ApplicationService.Entidade
@using ApplicationService.Enum

@model Dominio.Entidade.Produto
@{
    ViewBag.Title = "Fornecedor";

    var listaPermissoes = new List<PermissoesApp>();
    listaPermissoes.AddRange(ViewBag.Permissoes);
}

@section Metas {
    <meta name="page" content="AcoesProdutos" />
}

@Html.AntiForgeryToken()

@section scripts {
    <script src="@Url.Content("~/Content/assets/js/FornecedoresController.js")"></script>
}

<script>
    $(function () {
        $(".datepicker").datepicker();
    });
</script>
<div id="main">
    <input type="hidden" name="IdSite" id="fornecedores-site" value="@ViewBag.IdSite" />
    <input type="hidden" name="idFuncao" id="fornecedores-funcao" value="@ViewBag.idFuncao" />
    <input type="hidden" name="IdProcesso" id="fornecedores-processo" value="@ViewBag.IdProcesso" />
    <input type="hidden" name="IdProduto" id="fornecedores-produto" value="@ViewBag.IdProduto" />
    <input type="hidden" name="Ancora" id="Ancora" value="@ViewBag.Ancora" />
    <div class="content-painel">
        <!-- Produto -->
        <form id="form-fornecedores-produtos" style="display: @(string.IsNullOrEmpty(ViewBag.Ancora) ? "block": (ViewBag.Ancora == "Alterar" ? "block" : "none"));">
            <div class="panel panel-default" data-toggle="collapse" id="novo-produto">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_NovoProduto</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-protudos">
                    <div class="barra-busca">
                        <div class="row">
                            <!-- Produto -->
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="form-produtos-produto" class="control-label">@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_Nome</label>
                                    <input type="text" class="form-control" id="form-produtos-produto" name="formProdutosProduto"
                                           placeholder="@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_placeholder_Nome"
                                           data-msg-required="@Traducao.Fornecedores.ResourceFornecedores.Produto_msg_required_Nome"
                                           value="@Model.Nome" />
                                </div>
                            </div>
                            <!-- Codigo -->
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="form-produto-codigo" class="control-label">@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_Tags</label>
                                    <input type="text" name="formProdutosCodigo" id="form-produtos-codigo" class="form-control"
                                           placeholder="@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_placeholder_Tags"
                                           value="@Model.Tags">
                                </div>
                            </div>
                            <!-- Responsavel -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="form-produto-responsavel" class="control-label">@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_Responsavel</label>
                                    <select id="form-produto-responsavel" name="formProdutosResponsavel" class="form-control" data-msg-required="@Traducao.Fornecedores.ResourceFornecedores.Produto_msg_required_Responsavel" required>
                                        <option value="">@Traducao.Resource.Dropdown_name_select</option>
                                        @if (Model.Responsavel != null)
                                        {
                                            <option value="@Model.Responsavel.IdUsuario" selected>@Model.Responsavel.NmCompleto</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- Especificação -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="form-produto-especificacao" class="control-label">@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_Especificacao</label>
                                    <textarea id="form-produto-especificacao" name="formProdutosEspecificacao" class="form-control" rows="7" placeholder="@Traducao.Fornecedores.ResourceFornecedores.Produto_lbl_placeholder_Especificacao"
                                              data-msg-required="@Traducao.Fornecedores.ResourceFornecedores.Produto_msg_required_Especificacao">@Model.Especificacao</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Criterios Avaliacao Criticidade -->
        <form id="form-criticidade" style="display: @(string.IsNullOrEmpty(ViewBag.Ancora) ? "block": (ViewBag.Ancora == "Alterar" ? "block" : "none"));">
            <div class="panel panel-default" style="">
                <div class="panel-heading" data-toggle="collapse" id="criterios">
                    <div class="panel-title">
                        <h2>@Traducao.Resource.CriteriosCriticidade</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-criticidade">
                    <div class="barra-busca">
                        <div class="col-md-12">
                            <table id="tb-form-produtos-criterios" class="table table-striped table-bordered table-list">
                                <thead class="titulo-tabela">
                                    <tr>
                                        <th class="w45">@Traducao.Resource.Criterios</th>
                                        <th class="w7">@Traducao.Resource.IncluirItem</th>
                                        <th class="w7">@Traducao.Resource.Acoes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var contaAvaliacoesCriticidade = 0; }
                                    @foreach (var avaliacaoCriticidade in Model.AvaliacoesCriticidade)
                                    {
                                        contaAvaliacoesCriticidade++;

                                        <tr>
                                            <td>
                                                @{ var IdAvaliacaoCriticidade = "IdAvaliacaoCriticidade" + contaAvaliacoesCriticidade; }
                                                <input type="hidden" id="@IdAvaliacaoCriticidade" name="IdAvaliacaoCriticidade" value="@avaliacaoCriticidade.IdAvaliacaoCriticidade" />
                                                @{ var IdAvaliacaoCriticidadeText = "form-produtos-criticidade-criterio" + contaAvaliacoesCriticidade; }
                                                <textarea name="formProdutosCriticidadeCriterio" id="@IdAvaliacaoCriticidadeText" disabled="disabled" class="form-control" placeholder="Critério" rows="3">@avaliacaoCriticidade.Titulo</textarea>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    @{ var formProdutosCriticidadeAtivo = "form-produtos-criticidade-ativo-" + contaAvaliacoesCriticidade; }
                                                    <input type="checkbox" name="formProdutosCriticidadeAtivo" id="@formProdutosCriticidadeAtivo" @((listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.AvaliarCriticidadeEditar) || ViewBag.IdPerfil != 4 ? "" : "disabled=\"disabled\"")) onclick="chkValue(this);" @(avaliacaoCriticidade.Ativo == true ? "checked" : null)>
                                                    <label for="@formProdutosCriticidadeAtivo" style="padding-left: 25px !important;">
                                                        @Traducao.Resource.Critico
                                                    </label>
                                                </div>

                                            </td>
                                            <td>
                                                @if (avaliacaoCriticidade.IdAvaliacaoCriticidade > 0)
                                                {
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.AvaliarCriticidadeDestravar) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-edit-produtos-criticidade editar-color">
                                                            <i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="@Traducao.Resource.btn_lbl_editar" data-original-title="@Traducao.Resource.btn_lbl_editar"></i>
                                                        </button>
                                                    }
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.AvaliarCriticidadeEditar) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-confirm-produtos-criticidade ativo-color" item="@avaliacaoCriticidade.IdAvaliacaoCriticidade" IdText="@IdAvaliacaoCriticidadeText">
                                                            <i class="fa fa-check " aria-hidden="true" data-toggle="tooltip" title="@Traducao.Resource.btn_lbl_ativar" data-original-title="@Traducao.Resource.btn_lbl_ativar"></i>
                                                        </button>                                                   
                                                    }
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.AvaliarCriticidadeExcluir) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-del-produtos-criticidade trash-color" item="@avaliacaoCriticidade.IdAvaliacaoCriticidade">

                                                            <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="@Traducao.Resource.btn_lbl_excluir" data-original-title="@Traducao.Resource.btn_lbl_excluir"></i>
                                                        </button>                                                    
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CadastroDeCritériosDeCriticidade) || ViewBag.IdPerfil != 4)
                        {
                            <!--- Novo -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="novo2 pull-right">
                                    <a href="#" name="" id="" class="btn-add-produtos-criticidade">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>@Traducao.Resource.Adicionar
                                    </a>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>

        <!-- Criterios para Qualificacao de Fornecedor -->
        <form id="form-qualifica-fornecedor" style="display: @(string.IsNullOrEmpty(ViewBag.Ancora) ? "block": (ViewBag.Ancora == "Alterar" || ViewBag.Ancora == "CriterioQualificacao" ? "block" : "none"));">
            <div class="panel panel-default" name="qualifica" id="qualifica">
                <div class="panel-heading" data-toggle="collapse" data-target="#criterios">
                    <div class="panel-title">
                        <h2>@Traducao.Resource.CriteriosQualificacao </h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-qualificacaofornecedor">
                    <div class="barra-busca">

                        <div class="col-md-12" style="margin-top: 10px;">
                            <table id="tb-form-qualificacao-fornecedor" class="table table-striped table-bordered table-list">
                                <thead class="titulo-tabela">
                                    <tr>
                                        <th class="w45">@Traducao.Resource.Criterios</th>
                                        <th class="w7">@Traducao.Resource.IncluirItem</th>
                                        <th class="w7">@Traducao.Fornecedores.ResourceFornecedores.Data</th>
                                        <th class="w7">@Traducao.Resource.Acoes</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var contaCriteriosQualificacao = 0; }
                                    @foreach (var criterioQualificacao in Model.CriteriosQualificacao)
                                    {
                                        contaCriteriosQualificacao++;
                                        <tr>
                                            <!-- Criterio -->
                                            <td>
                                                @{ var IdCriterioQualificacao = "IdCriterioQualificacao" + contaCriteriosQualificacao; }
                                                <input type="hidden" id="@IdCriterioQualificacao" name="IdCriterioQualificacao" value="@criterioQualificacao.IdCriterioQualificacao" />
                                                @{ var IdCriterioQualificacaoText = "form-qualifica-fornecedor-criterio" + contaCriteriosQualificacao; }
                                                <textarea type="text" name="formQualificaFornecedorCriterio" disabled="disabled" id="IdCriterioQualificacaoText" class="form-control" placeholder="@Traducao.Resource.Criterio" rows="3">@criterioQualificacao.Titulo</textarea>
                                            </td>
                                            <!-- Ativa Item -->
                                            <td>
                                                <div class="checkbox">
                                                    @{ var formQualificaFornecedorAtivoName = "formQualificaFornecedorAtivo-" + contaCriteriosQualificacao; }
                                                    @{ var formQualificaFornecedorAtivo = "form-qualifica-fornecedor-ativo-" + contaCriteriosQualificacao; }
                                                    @{ var formQualificaFornecedorAtivoLabel = "form-qualifica-fornecedor-ativo-" + contaCriteriosQualificacao; }

                                                    <input type="checkbox" name="@formQualificaFornecedorAtivoName" id="@formQualificaFornecedorAtivo" @((listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeQualificaçãoEditar) || ViewBag.IdPerfil != 4 ? "" : "disabled=\"disabled\"")) onclick="chkValue(this);" value="@(criterioQualificacao.Ativo == true ? "true" : "false")" @(criterioQualificacao.Ativo == true ? "checked" : null)>
                                                    <label for="@formQualificaFornecedorAtivoLabel" style="padding-left: 25px !important;">@Traducao.Resource.Ativar</label>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="checkbox">
                                                    @{ var formQualificaFornecedorTemControleVencimentoName = "formQualificaFornecedorTemControleVencimento-" + contaCriteriosQualificacao; }
                                                    @{ var formQualificaFornecedorTemControleVencimento = "form-qualifica-fornecedor-TemControleVencimento-" + contaCriteriosQualificacao; }
                                                    @{ var formQualificaFornecedorTemControleVencimentoLabel = "form-qualifica-fornecedor-TemControleVencimento-" + contaCriteriosQualificacao; }

                                                    <input type="checkbox" name="@formQualificaFornecedorTemControleVencimentoName" id="@formQualificaFornecedorTemControleVencimento" @((listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeQualificaçãoEditar) || ViewBag.IdPerfil != 4 ? "" : "disabled=\"disabled\"")) onclick="chkValue(this);" value="@(criterioQualificacao.TemControleVencimento == true ? "true" : "false")" @(criterioQualificacao.TemControleVencimento == true ? "checked" : null)>
                                                    <label for="@formQualificaFornecedorTemControleVencimentoLabel" style="padding-left: 25px !important;">@Traducao.Fornecedores.ResourceFornecedores.ControlaDataVencimento</label>
                                                </div>
                                            </td>

                                            <!-- Acoes -->
                                            <td>
                                                @if (criterioQualificacao.IdCriterioQualificacao > 0)
                                                {
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosQualificaçãoDestravar) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-edit-qualificacao-fornecedor editar-color">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeQualificaçãoEditar) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-confirm-qualificacao-fornecedor ativo-color" item="@criterioQualificacao.IdCriterioQualificacao" IdText="@IdCriterioQualificacaoText">
                                                            <i class="fa fa-check " aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                    if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeQualificaçãoExcluir) || ViewBag.IdPerfil != 4)
                                                    {
                                                        <button type="button" class="btn btn-del-qualificacao-fornecedor trash-color" item="@criterioQualificacao.IdCriterioQualificacao">
                                                            <i class="fa fa-trash " aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.DefinirCritériosDeQualificação) || ViewBag.IdPerfil != 4)
                        {
                            <!--- Novo Participante -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="novo2 pull-right">
                                    <a href="#" name="" id="" class="btn-add-qualificacao-fornecedor">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>@Traducao.Resource.Adicionar
                                    </a>
                                </p>
                            </div>

                        }
                    </div>
                    </div>
            </div>
        </form>

            <!-- Criterios Avaliacao -->
            <form id="form-criterios-avaliacao" style="display: @(string.IsNullOrEmpty(ViewBag.Ancora) ? "block": (ViewBag.Ancora == "Alterar" || ViewBag.Ancora == "CriterioAvaliacao" ? "block" : "none"));">
                <div class="panel panel-default" name="criterios-avaliacao" id="criterios-avaliacao">
                    <div class="panel-heading" data-toggle="collapse" data-target="#criterios-avaliacao">
                        <div class="panel-title">
                            <h2>@Traducao.Resource.CriteriosAvaliacao</h2>
                        </div>
                    </div>
                    <div class="panel-body" id="panel-form-criteriosavaliacao">
                        <div class="barra-busca">

                            <!-- Tabela Criterios -->
                            <div class="col-md-12" style="margin-top: 10px;">
                                <table id="tb-form-criterios-avaliacao" class="table table-striped table-bordered table-list">
                                    <thead class="titulo-tabela">
                                        <tr>
                                            <th class="w45">@Traducao.Resource.Criterios</th>
                                            <th class="w7">@Traducao.Resource.IncluirItem</th>
                                            <th class="w7">@Traducao.Resource.Acoes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var contaCriterioAvaliacao = 0; }
                                        @foreach (var criterioAvaliacao in Model.CriteriosAvaliacao)
                                        {
                                            contaCriterioAvaliacao++;
                                            <tr>
                                                <!-- Disponibilidade -->
                                                <td>
                                                    @{ var IdCriterioAvaliacao = "IdCriterioAvaliacao" + contaCriterioAvaliacao; }
                                                    <input type="hidden" id="@IdCriterioAvaliacao" name="IdCriterioAvaliacao" value="@criterioAvaliacao.IdCriterioAvaliacao" />
                                                    @{ var IdCriterioAvaliacaoText = "form-criterios-avaliacao-disponibilidade" + contaCriterioAvaliacao; }
                                                    <textarea name="formCriteriosAvaliacaoDisponibilidade" id="@IdCriterioAvaliacaoText" disabled="disabled"class="form-control" placeholder="@Traducao.Resource.Disponibilidade" rows="3">@criterioAvaliacao.Titulo</textarea>
                                                </td>
                                                <!-- Ativo -->
                                                <td>
                                                    <div class="checkbox">
                                                        @{ var formCriteriosAvaliacaoAtivoName = "formCriteriosAvaliacaoAtivo-" + contaCriterioAvaliacao; }
                                                        @{ var formCriteriosAvaliacaoAtivo = "form-criterios-avaliacao-ativo-" + contaCriterioAvaliacao; }
                                                        @{ var formCriteriosAvaliacaoAtivoLabel = "form-criterios-avaliacao-ativo-" + contaCriterioAvaliacao; }
                                                        <input type="checkbox" name="@formCriteriosAvaliacaoAtivoName" id="@formCriteriosAvaliacaoAtivo" @((listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeAvaliaçãoEditar) || ViewBag.IdPerfil != 4 ? "" : "disabled=\"disabled\"")) onclick="chkValue(this);" value="true" @(criterioAvaliacao.Ativo == true ? "checked" : null)>
                                                        <label for="@formCriteriosAvaliacaoAtivoLabel" style="padding-left: 25px !important;">Ativar</label>
                                                    </div>
                                                </td>
                                                <!-- Acoes -->
                                                <td>
                                                    @if (criterioAvaliacao.IdCriterioAvaliacao > 0)
                                                    {
                                                        if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeAvaliaçãoDestravar) || ViewBag.IdPerfil != 4)
                                                        {
                                                            <button type="button" class="btn btn-edit-criterios-avaliacao editar-color">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                        if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeAvaliaçãoEditar) || ViewBag.IdPerfil != 4)
                                                        {
                                                            <button type="button" class="btn btn-confirm-criterios-avaliacao ativo-color" item="@criterioAvaliacao.IdCriterioAvaliacao" IdText="@IdCriterioAvaliacaoText">
                                                                <i class="fa fa-check " aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                        if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.CritériosDeAvaliaçãoExcluir) || ViewBag.IdPerfil != 4)
                                                        {
                                                            <button type="button" class="btn btn-del-criterios-avaliacao trash-color" item="@criterioAvaliacao.IdCriterioAvaliacao">
                                                                <i class="fa fa-trash " aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.DefinirCritériosDeAvaliação) || ViewBag.IdPerfil != 4)
                            {
                                <!--- Adicionar -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="novo2 pull-right">
                                        <a href="#" name="" id="" class="btn-add-criterios-avaliacao">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>@Traducao.Resource.Adicionar
                                        </a>
                                    </p>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>

            @if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesFornecedores.DefinirCritériosDeAvaliação) || ViewBag.IdPerfil != 4)
            {
                <!-- parametros-critérios-avaliacao -->
                <form id="form-parametros-critérios-avaliacao" style="display: @(string.IsNullOrEmpty(ViewBag.Ancora) ? "block" : (ViewBag.Ancora == "Alterar" || ViewBag.Ancora == "CriterioAvaliacao" ? "block" : "none"));">

                    <div class="panel panel-default" name="parametros-critérios-avaliacao" id="parametros-critérios-avaliacao">
                        <div class="panel-heading" data-toggle="collapse" data-target="#parametros-critérios-avaliacao">
                            <div class="panel-title">
                                <h2>@Traducao.Resource.ParametrosFornecedor</h2>
                            </div>
                        </div>
                        <div class="panel-body" id="panel-form-parametros-critérios-avaliacao">
                            <div class="barra-busca">


                                <!-- Tabela Criterios -->
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <table id="tb-form-parametros-critérios-avaliacao" class="table table-striped table-bordered table-list">
                                        <tbody>
                                            <tr>
                                                <td style="width: 44%;">
                                                    @Traducao.Resource.IntervaloAprovacao
                                                </td>
                                                <td style="width: 14%;">



                                                    <input name="MinAprovado" type="text" value="@( Model.MinAprovado != 0 ? Model.MinAprovado : 70 )" id="MinAprovado"
                                                           data-msg-required=@Traducao.Resource.MinAprovacaoObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;"><br>
                                                    <span style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 4%; border: none; text-align: center;">
                                                    @Traducao.Resource.Ate
                                                </td>
                                                <td style="width: 14%; border: none;">
                                                    <input name="MaxAprovado" type="text" value="@( Model.MaxAprovado != 0 ? Model.MaxAprovado : 100 )" id="MaxAprovado"
                                                           data-msg-required=@Traducao.Resource.MaxAprovacaoObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;">
                                                    <br>
                                                    <span id="ContentPlaceHolder1_RangeValidator3" style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 19%; border: none; font-weight: bold;">
                                                    @Traducao.Resource.AprovadoBold
                                                </td>
                                            </tr>
                                            <tr>

                                                <td style="width: 44%;">
                                                    @Traducao.Resource.IntervaloAprovacao
                                                </td>
                                                <td style="width: 14%; border: none;">
                                                    <input name="MinAprovadoAnalise" type="text" value="@( Model.MinAprovadoAnalise != 0 ? Model.MinAprovadoAnalise : 50 )" id="MinAprovadoAnalise"
                                                           data-msg-required=@Traducao.Resource.MinAnaliseObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;">
                                                    <br>
                                                    <span id="ContentPlaceHolder1_RangeValidator4" style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 4%; border: none; text-align: center;">
                                                    @Traducao.Resource.Ate
                                                </td>
                                                <td style="width: 14%; border: none;">
                                                    <input name="MaxAprovadoAnalise" type="text" value="@( Model.MaxAprovadoAnalise != 0 ? Model.MaxAprovadoAnalise : 69 )" id="MaxAprovadoAnalise"
                                                           data-msg-required=@Traducao.Resource.MaxAnaliseObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;">
                                                    <br>
                                                    <span id="ContentPlaceHolder1_RangeValidator5" style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 19%; border: none; font-weight: bold;">
                                                    @Traducao.Resource.RestricaoAnalise
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 44%;">
                                                    @Traducao.Resource.IntevaroReprovacao
                                                </td>
                                                <td style="width: 14%; border: none;">
                                                    <input name="MinReprovado" type="text" value="@Model.MinReprovado" id="MinReprovado"
                                                           data-msg-required=@Traducao.Resource.MinReprovacaoObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;">
                                                    <br>
                                                    <span id="ContentPlaceHolder1_RangeValidator6" style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 4%; border: none; text-align: center;">
                                                    @Traducao.Resource.Ate
                                                </td>
                                                <td style="width: 14%; border: none;">
                                                    <input name="MaxReprovado" type="text" value="@( Model.MaxReprovado != 0 ? Model.MaxReprovado : 49 )" id="MaxReprovado"
                                                           data-msg-required=@Traducao.Resource.MaxReprovacaoObrigatorio
                                                           onkeypress="return SomenteNumero(event)" style="width:85%;">
                                                    <br>
                                                    <span id="ContentPlaceHolder1_RangeValidator7" style="display:none;">@Traducao.Resource.Entre0100</span>
                                                </td>
                                                <td style="width: 19%; border: none; font-weight: bold;">
                                                    @Traducao.Resource.ReprovadoBold
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            }
            </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row pull-right">
        <div class="col-md-12">
            <button class="btn btn-primary btn-salvar" type="submit">Salvar</button>
            <button class="btn btn-primary" type="submit">@Html.ActionLink(@Traducao.Shared.ResourceButtons.btn_lbl_cancelar, "Produtos", "Fornecedor")</button>
        </div>
    </div>
</div>
