@using ApplicationService.Entidade
@using ApplicationService.Enum
@using Dominio.Entidade

@model Fornecedor
@{
    ViewBag.Title = "Fornecedor";

    var produto = (Produto)ViewBag.Produto;

}

@section Metas {
    <meta name="page" content="AcoesFornecedores" />
}


@Html.AntiForgeryToken()


@section scripts {
    <script src="@Url.Content("~/Content/assets_src/js/components/_print.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/FornecedoresController.js")"></script>
}

<div id="main">
    <input type="hidden" name="IdFornecedor" value="@Model.IdFornecedor" />
    <input type="hidden" name="IdSite" id="fornecedores-site" value="@ViewBag.IdSite" />
    <input type="hidden" name="idFuncao" id="fornecedores-funcao" value="@ViewBag.idFuncao" />
    <input type="hidden" name="IdProcesso" id="fornecedores-processo" value="@ViewBag.IdProcesso" />
    <input type="hidden" name="IdProduto" id="fornecedores-produto" value="@ViewBag.IdProduto" />
    <input type="hidden" name="Ancora" id="Ancora" value="@ViewBag.Ancora" />

    <div class="content-painel">

        <!-- Cadastro Fornecedor -->
        <form id="form-fornecedores-cadastro" style="display: @(ViewBag.Ancora == "" || ViewBag.Ancora=="Editar" ? "block;" : "none;" )">
            <div class="panel panel-default" id="cadastrofornecedor">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>@Traducao.Resource.CadastroDeFornecedores</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-fornecedores-cadastro">
                    <div class="barra-busca">
                        <!-- Nome -->
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-cadastro-nome" class="control-label">@Traducao.Resource.Fornecedor_lbl_Nome</label>
                                <input type="text" id="form-fornecedores-cadastro-nome" name="formFornecedoresCadastroNome" class="form-control" placeholder="@Traducao.Resource.DigiteNome" data-msg-required="@Traducao.Resource.Fornecedor_msg_erro_required_Nome" value="@Model.Nome">
                            </div>
                        </div>
                        <!-- Contato -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-cadastro-contato" class="control-label">@Traducao.Resource.Contato</label>
                                <input type="text" id="form-fornecedores-cadastro-contato" name="formFornecedoresCadastroContato" class="form-control input-celular" placeholder="@Traducao.Resource.DigiteContato" data-msg-required="@Traducao.Resource.CampoContatoObrigatorio" value="@Model.Telefone">
                            </div>
                        </div>
                        <!-- E-mail -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-cadastro-email" class="control-label">@Traducao.Resource.Fornecedor_lbl_Email</label>
                                <input type="text" id="form-fornecedores-cadastro-email" name="formFornecedoresCadastroEmail" class="form-control" placeholder="@Traducao.Resource.EmailValido" data-msg-required="O @Traducao.Resource.Fornecedor_msg_erro_required_Email" value="@Model.Email">
                            </div>
                        </div>
                        <!-- Departamento -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-cadastro-departamento" class="control-label">Departamento</label>
                                <select id="form-fornecedores-cadastro-departamento" name="formFornecedoresCadastroDepartamento" class="form-control" placeholder="Digite o Departamento" data-msg-required="O Departamento é obrigatório">
                                    <option value="">@Traducao.Resource.Dropdown_name_select</option>
                                    @if (@Model.IdProcesso > 0)
                                    {
                                        <option value="@Model.IdProcesso" selected>@Model.Processo.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Tipo Fornecedor -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TipoFornecedor)
                                @Html.EnumDropDownListFor(x => x.TipoFornecedor , "Selecione" , new { @class = "form-control" })
                                @*DropDownListFor(x => x.TipoFornecedor , EnumHelper.GetSelectList(typeof(Dominio.Enumerado.TipoFornecedor)) , "Selecione" , new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Qualifica Fornecedores -->
        @foreach (var criterioQualificacao in Model.AvaliaCriteriosQualificacao)
        {

            <form id="form-fornecedores-qualificacao-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" class="form-fornecedores-qualificacao" style="display: @(ViewBag.Ancora == "" || ViewBag.Ancora=="Editar" || ViewBag.Ancora=="Qualificar" ? "block;" : "none;" )">
                <input type="hidden" name="IdAvaliaCriterioQualificacao" value="@criterioQualificacao.IdAvaliaCriterioQualificacao" />
                <input type="hidden" name="IdCriterioQualificacao" value="@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" />
                <div class="panel panel-default" id="qualificafornecedor">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h2>@criterioQualificacao.CriterioQualificacao.Titulo</h2>
                        </div>
                    </div>
                    <div class="panel-body" id="panel-form-fornecedores-qualificacao-@criterioQualificacao.IdCriterioQualificacao">
                        <div class="barra-busca">
                            <!-- Produto -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="form-fornecedores-qualificacao-produto-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" class="control-label">@Traducao.Resource.ProdutoServico</label>
                                    <input type="text" id="form-fornecedores-qualificacao-produto-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" name="formFornecedoresQualificacaoProduto" class="form-control" placeholder="" data-msg-required="" value="@produto.Nome" disabled="">
                                </div>
                            </div>
                            <!-- Fornecedor -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="form-fornecedores-qualificacao-fornecedor-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" class="control-label">@Traducao.Resource.Fornecedor</label>
                                    <input type="text" id="form-fornecedores-qualificacao-fornecedor-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" name="formFornecedoresQualificacaoFornecedor" class="form-control input-nome-fornecedor" placeholder="" data-msg-required="" value="RAZOR" disabled="">
                                </div>
                            </div>
                            <!-- Resposavel -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @{ var idCriterioQualificacao = "form-fornecedores-qualificacao-responsavel" + criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao;}
                                    <label for="@idCriterioQualificacao" class="control-label">@Traducao.Resource.Produto_lbl_IdResponsavel</label>
                                    <select id="@idCriterioQualificacao" name="formFornecedoresQualificacaoResponsavel" class="form-control" placeholder=@Traducao.Resource.SelecioneResonsavel data-msg-required=@Traducao.Resource.MsgResposavelObrigatorio>
                                        <option value="">@Traducao.Resource.Dropdown_name_select</option>
                                        @if (criterioQualificacao.IdResponsavelPorQualificar > 0)
                                        {
                                            <option value="@criterioQualificacao.IdResponsavelPorQualificar" selected>@criterioQualificacao.ResponsavelPorQualificar.NmCompleto</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- Data Qualificacao -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="form-fornecedores-qualificacao-dt-qualificacao" class="control-label">@Traducao.Resource.DataQualificacao</label>
                                    <div class='input-group' id=''>
                                        @{ var idDtaQualificacao = "form-fornecedores-qualificacao-dt-qualificacao" + criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao;}
                                        <input type='text' id="@idDtaQualificacao"
                                               name="formFornecedoresQualificacaoDtQualificacao"
                                               class="form-control data datepicker" placeholder=@Traducao.Resource.DigiteDataQualificacao
                                               data-msg-required=@Traducao.Resource.DataQualificacaoObrigatoria
                                               value="@(criterioQualificacao.DtQualificacaoVencimento.HasValue?criterioQualificacao.DtQualificacaoVencimento.Value.ToString(Traducao.Resource.dateFormat):null)" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Painel 02 -->
                        <div class="barra-busca">
                            <!-- Especificacao Tecnica -->
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@Traducao.Resource.EspecificacaoTecnica</label>

                                    <div class="upload-arq form-control @(criterioQualificacao.IdCriterioQualificacao > 0 ? "box-upload-arq" : null)">
                                        <a class="btn-upload-multiple-form-criterio-qualificacao-evidencia-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao">
                                            <i class="fa fa-paperclip fa-1x" aria-hidden="true"></i>@Traducao.Shared.ResourceButtons.btn_lbl_anexar
                                        </a>

                                        @{
                                            var listaEvidencias = new List<Anexo>();

                                            if (criterioQualificacao.ArquivosEvidenciaCriterioQualificacao.Count > 0)
                                            {
                                                criterioQualificacao.ArquivosEvidenciaCriterioQualificacao.ToList().ForEach(evidencia =>
                                                {
                                                    listaEvidencias.Add(new Anexo
                                                    {
                                                        IdAnexo = evidencia.IdAnexo,
                                                        Nome = evidencia.Anexo.Nome,
                                                        Extensao = evidencia.Anexo.Extensao,
                                                        ArquivoB64 = String.Format("data:application/" + evidencia.Anexo.Extensao + ";base64," + Convert.ToBase64String(evidencia.Anexo.Arquivo)),
                                                    });
                                                });

                                            }
                                        }

                                        <ul class="@(criterioQualificacao.IdCriterioQualificacao > 0 ? "dashed" : null)">
                                            @if (listaEvidencias.Count > 0)
                                            {
                                                foreach (var evidencia in listaEvidencias)
                                                {
                                                    <li>
                                                        <a href="@evidencia.ArquivoB64" target="_blank" download="@evidencia.Nome">@evidencia.Nome</a>
                                                        <input type="hidden" name="formCriarFornecedorEvidenciaNome-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" value="@evidencia.Nome">
                                                        <input type="hidden" name="formCriarFornecedorEvidenciaIdAnexo-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" value="@ViewBag.IdProduto">
                                                    </li>

                                                }
                                            }

                                        </ul>
                                        <input type="file" name="formCriarFornecedorEvidencia" id="form-criar-fornecedor-evidencia-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                               class=""
                                               data-msg-required=""
                                               data-b64=""
                                               multiple="multiple">

                                    </div>

                                </div>
                            </div>
                            <!-- Aprovado -->
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@Traducao.Resource.lbl_Aprovado</label>
                                    <div class="row">
                                        <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="form-fornecedores-qualificacao-aprovado-sim">
                                            <input type="radio" id="form-fornecedores-qualificacao-aprovado-sim-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                   name="formFornecedoresQualificacaoAprovado"
                                                   value="true" @(criterioQualificacao.Aprovado == true ? "checked" : "")>@Traducao.Resource.Sim
                                            </label>
                                            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="form-fornecedores-qualificacao-aprovado-nao">
                                                <input type="radio" id="form-fornecedores-aprovado-qualificacao-nao-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                       name="formFornecedoresQualificacaoAprovado"
                                                       value="false" @(criterioQualificacao.Aprovado == false ? "checked" : "")>@Traducao.Resource.Nao
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Observacoes -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="form-fornecedores-qualificacao-observacoes-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" class="control-label">@Traducao.Resource.Site_lbl_DsObservacoes</label>
                                            <textarea id="form-fornecedores-qualificacao-observacoes-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                      name="formFornecedoresQualificacaoObservacoes"
                                                      class="form-control" rows="7" placeholder=@Traducao.Resource.DigiteObrigacoes
                                                      data-msg-required=@Traducao.Resource.ObsObrigatoria>@criterioQualificacao.Observacoes</textarea>
                                        </div>
                                    </div>
                                    @if (criterioQualificacao.CriterioQualificacao.TemControleVencimento == true)
                                    {
                                        <!-- Responsavel -->
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="form-fornecedores-qualificacao-responsavel-controlar-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" class="control-label">@Traducao.Resource.ResponsavelControlar</label>
                                                <select id="form-fornecedores-qualificacao-responsavel-controlar-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao" name="formFornecedoresQualificacaoResponsavelControlar" class="form-control" placeholder=@Traducao.Resource.SelecioneResponsavelControlar data-msg-required=@Traducao.Resource.ResponsavelControlarObrigatorio>
                                                    <option value="">@Traducao.Resource.Dropdown_name_select</option>
                                                    @if (criterioQualificacao.ResponsavelPorQualificar != null && criterioQualificacao.IdResponsavelPorControlarVencimento > 0)
                                                    {
                                                        <option value="@criterioQualificacao.IdResponsavelPorControlarVencimento" selected>@criterioQualificacao.ResponsavelPorQualificar.NmCompleto</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Tabela Panel 02 -->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <table id="pessoa-funcoes" class="table table-striped table-bordered table-list">
                                                    <thead class="titulo-tabela">
                                                        <tr>
                                                            <th class="w20 with-input">@Traducao.Resource.NaoConformidade_Index_lbl_DtEmissao</th>
                                                            <th class="w20 with-input">@Traducao.Resource.NDoc</th>
                                                            <th class="w20 with-input">@Traducao.Resource.OrgaoExpedidor</th>
                                                            <th class="w20 with-input">@Traducao.Resource.Vencimento</th>
                                                            <th class="w20 with-input">@Traducao.Resource.Telefone_lbl_DsObservacao</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group" id="">
                                                                    <input type="text" id="form-fornecedores-qualificacao-dt-emissao-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                                           name="formFornecedoresQualificacaoDtEmissao"
                                                                           class="form-control data datepicker" placeholder=@Traducao.Resource.NaoConformidade_Index_lbl_DtEmissao
                                                                           data-msg-required=@Traducao.Resource.NaoConformidade_Index_lbl_DtEmissao
                                                                           value="@(criterioQualificacao.DtEmissao.HasValue ? criterioQualificacao.DtEmissao.Value.ToString(Traducao.Resource.dateFormat) : null)" />
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="form-fornecedores-qualificacao-nm-documento-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                                       name="formFornecedoresQualificacaoNmDocumento"
                                                                       class="form-control" placeholder=@Traducao.Resource.NDoc
                                                                       data-msg-required=@Traducao.Resource.NDocObrigatorio
                                                                       value="@criterioQualificacao.NumeroDocumento" />
                                                            </td>
                                                            <td>
                                                                <input type="text" id="form-fornecedores-qualificacao-orgao-expeditor-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                                       name="formFornecedoresQualificacaoOrgaoExpeditor"
                                                                       class="form-control" placeholder=@Traducao.Resource.OrgaoExpedidor
                                                                       data-msg-required=@Traducao.Resource.OrgaoExpedidorObrigatorio
                                                                       value="@criterioQualificacao.OrgaoExpedidor" />
                                                            </td>
                                                            <td>
                                                                <div class="input-group" id=''>
                                                                    <input type="text" id="form-fornecedores-qualificacao-dt-vencimento-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                                           name="formFornecedoresQualificacaoDtVencimento"
                                                                           class="form-control data datepicker" placeholder=@Traducao.Resource.DigiteDataVencimento
                                                                           data-msg-required=@Traducao.Resource.DataVencimentoObrigatoria
                                                                           value="@(@criterioQualificacao.DtVencimento != null ? criterioQualificacao.DtVencimento.Value.ToShortDateString() : "")" />
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="form-fornecedores-qualificacao-observacoes-controlar-@criterioQualificacao.CriterioQualificacao.IdCriterioQualificacao"
                                                                       name="formFornecedoresQualificacaoObservacoesControlar"
                                                                       class="form-control" placeholder=@Traducao.Resource.DigiteObs
                                                                       value="@criterioQualificacao.ObservacoesDocumento" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </form>

                }

        <!-- Avaliacao Fornecedores -->
        <form id="form-fornecedores-avaliacao" style="display: @(ViewBag.Ancora == "" || ViewBag.Ancora=="Editar" || ViewBag.Ancora=="Avaliar" ? "block;" : "none;" )">
            <div class="panel panel-default" id="avaliacao-fornecedores">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>@Traducao.Resource.AvaliacoesFornecedores</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-fornecedores-avaliacao">
                    <div class="barra-busca">

                        <!-- Nome -->
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label for="form-fornecedores-avaliacao-nome" class="control-label">Fornecedor</label>
                                <input type="text" id="form-fornecedores-avaliacao-nome" name="formFornecedoresAvaliacaoNome" class="form-control input-nome-fornecedor" placeholder="" data-msg-required="" value="@Model.Nome" disabled>
                            </div>
                        </div>

                        <!-- Resposavel -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @{ var IdUsuarioAvaliacao = "form-fornecedores-avaliacao-responsavel" + (Model.IdUsuarioAvaliacao != null ? Model.IdUsuarioAvaliacao : 0);}
                                <label for="@IdUsuarioAvaliacao" class="control-label">@Traducao.Resource.Produto_lbl_IdResponsavel</label>
                                <select id="@IdUsuarioAvaliacao" name="formFornecedoresAvaliacaoResponsavel" class="form-control" placeholder=@Traducao.Resource.SelecioneResonsavel data-msg-required=@Traducao.Resource.MsgResposavelObrigatorio>
                                    <option value="">@Traducao.Resource.Dropdown_name_select</option>
                                    @if (Model.IdUsuarioAvaliacao != null && Model.IdUsuarioAvaliacao > 0)
                                    {
                                        <option value="@Model.IdUsuarioAvaliacao" selected>@Model.UsuarioAvaliacao.NmCompleto</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- Data Proxima Avaliacao -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="form-fornecedores-historico-dt-avaliaca">Data da Próxima Avaliação</label>
                                <div class='input-group' id=''>
                                    @{ var ultimaAvaliacao = Model.AvaliaCriteriosAvaliacao.OrderByDescending(x => x.IdAvaliaCriterioAvaliacao).FirstOrDefault(); }
                                    <input type='text' id="form-fornecedores-dt-proxima-avaliacao" name="formFornecedoresDtProximaAvaliacao" class="form-control data datepicker" placeholder="" data-msg-required="" value="@(ultimaAvaliacao != null && ultimaAvaliacao.DtProximaAvaliacao != default(DateTime) ? ultimaAvaliacao.DtProximaAvaliacao.ToString(Traducao.Resource.dateFormat) : "" )" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>

                            </div>
                        </div>


                        <!-- Tabela Lista Criterios -->
                        @if (ViewBag.avaliacao.Count > 0)
                        {
                            <div class="col-md-12" style="margin-top: 10px;">
                                <table id="tb-fornecedores-avaliacao" class="table table-striped table-bordered table-list">
                                    <thead class="titulo-tabela">
                                        <tr>
                                            <th class="w80">@Traducao.Resource.CriteriosAvaliacao</th>
                                            <th class="w10">Nota</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var criterioAvaliacao in produto.CriteriosAvaliacao.Where(x => x.Ativo).ToList())
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="formFornecedoresAvaliacaoCriterioId" value="@criterioAvaliacao.IdCriterioAvaliacao" />
                                                    <input type="text" id="form-fornecedores-avaliacao-criterio"
                                                           name="formFornecedoresAvaliacaoCriterio" class="form-control"
                                                           placeholder=""
                                                           data-msg-required=""
                                                           value="@criterioAvaliacao.Titulo" disabled />
                                                </td>
                                                <td>
                                                    <input type="number" id="form-fornecedores-avaliacao-nota"
                                                           name="formFornecedoresAvaliacaoNota"
                                                           class="form-control" placeholder="ex: 85"
                                                           data-msg-required=""
                                                           data-msg-max=""
                                                           data-msg-min=""
                                                           value="" />
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>

        <!-- Historico Fornecedores -->
        <form id="form-fornecedores-historico" style="display: @(ViewBag.Ancora == "" || ViewBag.Ancora=="Editar" || ViewBag.Ancora=="Historico" ? "block;" : "none;" )">
            <div class="panel panel-default" id="Historico-fornecedores">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>@Traducao.Resource.HistoricoAvaliacao</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-fornecedores-historico">
                    <div class="barra-busca">
                        <!-- Produto -->
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-historico-nome">@Traducao.Resource.ProdutoServico</label>
                                <input type="text" id="form-fornecedores-historico-nome" name="formFornecedoresHistoricoNome" class="form-control" placeholder="" data-msg-required="" value="@produto.Nome" disabled>
                            </div>
                        </div>
                        <!-- Codigo -->
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-historico-codigo">@Traducao.Resource.DocDocumento_lbl_CdNumero</label>
                                <input type="text" id="form-fornecedores-historico-codigo" name="formFornecedoresHistoricoCodigo" class="form-control" placeholder="" data-msg-required="" value="@produto.Tags" disabled>
                            </div>
                        </div>
                        <!-- Fornecedor -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="form-fornecedores-historico-fornecedor">@Traducao.Resource.Fornecedor</label>
                                <input type="text" id="form-fornecedores-historico-fornecedor" name="formFornecedoresHistoricoFornecedor" class="form-control input-nome-fornecedor" placeholder="" data-msg-required="" value="" disabled>
                            </div>
                        </div>

                        <!-- Tabela Lista Criterios -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <table id="tb-fornecedores-historico" class="table table-striped table-bordered table-list">
                                    <thead class="titulo-tabela">
                                        <tr>
                                            <th class="w10 sorting">Título</th>
                                            <th class="w10 sorting">Data</th>
                                            <th class="w10 sorting">Data Proxima Avaliação</th>
                                            <th class="w10 sorting">Nota Avaliação</th>
                                            <th class="w10 sorting">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AvaliaCriteriosAvaliacao)
                                        {
                                            if (item.NotaAvaliacao != null)
                                            {
                                                if (item.CriterioAvaliacao != null)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td>@item.CriterioAvaliacao.Titulo</td>
                                                        <td>@item.DtAvaliacao.ToShortDateString()</td>
                                                        <td>@item.DtProximaAvaliacao.ToShortDateString()</td>
                                                        <td>@item.NotaAvaliacao</td>
                                                        <td>

                                                            @if (item.NotaAvaliacao >= produto.MinAprovado)
                                                            {
                                                                @Traducao.Resource.lbl_Aprovado
                                                            }
                                                            else if (item.NotaAvaliacao >= produto.MinAprovadoAnalise && item.NotaAvaliacao <= produto.MaxAprovadoAnalise)
                                                            {
                                                                @Traducao.Resource.lbl_AprovadoAnalise
                                                            }
                                                            else
                                                            {
                                                                @Traducao.Resource.lbl_Reprovado
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row pull-right">
        <div class="col-md-12">
            <button class="btn btn-primary btn-imprimir" type="submit">@Traducao.Resource.Imprimir</button>
            <button class="btn btn-primary btn-salvar" type="submit">@Traducao.Resource.botao_salvar</button>
            <button class="btn btn-primary" type="submit">@Html.ActionLink(@Traducao.Shared.ResourceButtons.btn_lbl_cancelar, "IndexFornecedores", new { idProduto = ViewBag.IdProduto })</button>
        </div>
    </div>
</div>