@model  Web.UI.Models.GraficoNaoConformidadeViewModel

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../content/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    @*<script src="@Url.Content("~/Content/assets/js/jquery.min.js")"></script>*@
    <script src="@Url.Content("~/Content/assets/js/GraficoNaoConformidade.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/CanvasJS/canvasjs.min.js")"></script>
    <script src="~/Scripts/flot/jquery.flot.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.categories.js"></script>
    <script src="~/Scripts/flot/jquery.flot.barlabels.js"></script>
    @*<script src="~/Scripts/flot/jquery.flot.tooltip.min.js"></script>*@
    <style>
        .col-centered {
            text-align: center;
        }
    </style>

    <script>

        var UrlObterDadosGraficosBarra = encodeURI('@Url.Action("ObterDadosGraficosBarra", "NaoConformidade")');
        var UrlObterDadosGraficosPizza = encodeURI('@Url.Action("ObterDadosGraficosPizza", "NaoConformidade")');

    </script>

</head>
<body>
    <input id="hndTipoGrafico" type="hidden" value="@Model.IdTipoGrafico" />
    <input id="hndTipoNaoConformidade" type="hidden" value="@Model.IdTipoNaoConformidade" />
    <input id="hndDtDe" type="hidden" value="@Model.DtDe" />
    <input id="hndDtAte" type="hidden" value="@Model.DtAte" />
    <input id="hndEstiloGrafico" type="hidden" value="@Model.EstiloGrafico" />
    <div id="loading" class="loading">
        <div class="animationload">
            <div class="osahanloading"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-centered">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @foreach (var parametro in Model.Parametros)
                {
                    <label>@parametro.Key: </label>
                    <label style="font-weight:normal">@parametro.Value</label>
                <br />
                }
            </div>
        </div>
        <div id="grafico" style="height:50%; width:90%"></div>

    </div>
</body>
</html>

