@using ApplicationService.Entidade
@using ApplicationService.Enum
@using Dominio.Entidade
@*@model Dominio.Entidade.RegistroConformidade*@
@model Dominio.Entidade.RegistroConformidade



@{
    ViewBag.Title = "Não Conformidade";
    Layout = null;


    var listaEvidencias = new List<Anexo>();

    if (Model.ArquivosDeEvidenciaAux.Count > 0)
    {
        Model.ArquivosDeEvidenciaAux.ToList().ForEach(evidencia =>
        {
            listaEvidencias.Add(new Anexo
            {
                IdAnexo = evidencia.IdAnexo,
                Nome = evidencia.Nome,
                Extensao = evidencia.Extensao,
                ArquivoB64 = String.Format("data:application/" + evidencia.Extensao + ";base64," + Convert.ToBase64String(evidencia.Arquivo)),
            });
        });

    }

    var eAdminOuCordenador = (ViewBag.IdPerfil != 4) ? true : false;
    var eResponsavel = Model.IdEmissor != ViewBag.IdUsuarioLogado ? false : true;
    var eDestravado = Model.FlDesbloqueado == 0 ? false : true;
    var eDisabled = (eDestravado && (eResponsavel || eAdminOuCordenador)) ? null : "disabled";
    var eResponsavellInicarAcaoImediata = Model.IdResponsavelInicarAcaoImediata != Convert.ToInt32(ViewBag.UsuarioLogado.IdUsuario) ? false : true;
    var eResponsavelPorAcaoImediata = Model.AcoesImediatas.Any(x => x.IdResponsavelImplementar != Convert.ToInt32(ViewBag.UsuarioLogado.IdUsuario)) ? false : true;

    var eDisabledIdResponsavelIniciarAcaoImediata = (eDestravado && (eResponsavellInicarAcaoImediata || eAdminOuCordenador)) ? null : "disabled";
    var eDisabledEditarAcaoImediata = (eDestravado && (eResponsavelPorAcaoImediata || eAdminOuCordenador)) ? null : "disabled";

    var temAcaoCorretiva = ViewBag.AcaoCorretiva != null ? ViewBag.AcaoCorretiva : null;
    var disabled = temAcaoCorretiva != null ? "disabled" : null;

    var nuRegistro = temAcaoCorretiva != null ? temAcaoCorretiva.NuRegistro : null;
    var descricaoRegistro = temAcaoCorretiva != null ? temAcaoCorretiva.DescricaoRegistro : null;
    var nomeResponsavelAcaoCorretiva = temAcaoCorretiva != null ? temAcaoCorretiva.ResponsavelInicarAcaoImediata.NmCompleto : null;
    var idResponsavelAcaoCorretiva = temAcaoCorretiva != null ? temAcaoCorretiva.IdResponsavelInicarAcaoImediata : null;
}
<html>
<head>
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body style="background:white !important">
    <div class="container">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



        <style>
            body {
                font-size: 10px;
            }

            .ui-timepicker {
                width: 119px !important;
            }

            .ui-timepicker-container {
                width: 128px !important;
                /*overflow: auto;*/
            }

            .ui-timepicker-viewport {
                width: 75px !important;
            }

                .ui-timepicker-viewport li {
                    width: 85px !important;
                }

            .caixa {
                font-family: 'Abel-Regular', sans-serif !important;
                width: 100%;
                padding: 12px 10px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                background: #fff;
            }

            .form-group {
                margin-bottom: 20px;
                font-size: medium;
            }

            .tabela-check {
                background-color: white !important;
            }

            #main {
                max-height: 700px !important;
            }
        </style>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <div class="top3" id="main1" style="top: 140px; ">
            <div id="main">
                <div class="content-painel">
                    <!-- hidden -->
                    <input type="hidden" name="StatusEtapa" value="@ViewBag.StatusEtapa" />
                    <input type="hidden" name="labelDesejaCriarNcDtEmissaoAnteriorAUltima" value="@Traducao.Resource.NaoConformidade_primeiraEtapa_msg_DesejaCriarNCComDiaAnteriorAUltimaCadastrada" />
                    <input type="hidden" name="IdCliente" value="@ViewBag.IdCliente" />
                    <input type="hidden" name="IdSite" id="nao-conformidade-site" value="@ViewBag.IdSite" />
                    <input type="hidden" name="TipoRegistro" value="nc" />
                    <input type="hidden" name="IdNaoConformidade" value="" />
                    <input type="hidden" name="UsuarioLogado" value="@ViewBag.UsuarioLogado.IdUsuario" />
                    <input type="hidden" name="IdPerfil" value="@ViewBag.IdPerfil" />
                    <input type="hidden" name="IdProcesso" value="@ViewBag.IdProcesso" />
                    <input type="hidden" name="IdRegistroConformidade" value="@Model.IdRegistroConformidade" />
                    <input type="hidden" name="IdNaoConformidade" class="IdNaoConformidade" value="@Model.IdRegistroConformidade" />

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table>
                                        <tr>
                                            <td><img src="data:image/png;base64, @ViewBag.LogoCliente" width="120" height="100" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <div class="row" style="background-color: white;padding-left: 20px;">
                        <!-- Formulario Nao Conformidade -->
                        <form id="form-criar-naoconformidade">
                            <div id="panel-naoconformidade">
                                <div>
                                    <div>
                                        <h4>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_titulo_identificacao</h4>
                                    </div>
                                </div>

                                <div class="caixa">

                                    <div class="row">
                                        <div class="col-xs-2">
                                            <!-- Numero Registro -->
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-nm-registro">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_NmRegistro</label>
                                                <br />
                                                @Model.NuRegistro
                                            </div>
                                        </div>




                                        <div class="col-xs-2">
                                            <!-- Data de Emissao -->
                                            <div>
                                                <div class="form-group">
                                                    <label for="form-criar-nao-conformidade-dt-emissao">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_DtEmissao</label>
                                                    <br />
                                                    @Model.DtEmissao.ToString(@Traducao.Resource.dateFormat)
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Processo -->
                                        <div class="col-xs-2">
                                            <div>
                                                <div class="form-group">
                                                    <label for="form-criar-nao-conformidade-processo" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Processo</label>
                                                    @Model.Processo.Nome
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Emissor -->
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-emissor" class="control-label">@Traducao.Resource.NaoConformidade_PrimeiraEtapa_lbl_IdEmissor</label>
                                                <br />
                                                @Model.Emissor.NmCompleto
                                            </div>
                                        </div>

                                        <div class="col-xs-2">
                                            <!-- E Auditoria -->
                                            <div>
                                                <div class="form-group">
                                                    <label>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_EAuditoria</label>
                                                    <div class="">
                                                        @(Model.ENaoConformidadeAuditoria == true ? Traducao.Resource.Sim : Traducao.Resource.Nao)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Tipo Nao Conformidade -->
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-tipo" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Tipo</label>
                                                <br />
                                                @Model.TipoNaoConformidade.Descricao
                                            </div>
                                        </div>



                                        <!-- Responsavel -->
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-responsavel" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Responsavel_definir_AC</label>
                                                <br />
                                                @Model.ResponsavelInicarAcaoImediata.NmCompleto
                                            </div>
                                        </div>

                                        <!-- Tags -->
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-tags" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Tags</label>
                                                <br />
                                                @Model.Tags
                                            </div>
                                        </div>


                                        <!-- Descricao Registro -->
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label for="form-criar-nao-conformidade-ds-registro" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_DsRegistro</label>
                                                <br />
                                                @Model.DescricaoRegistro
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Arquivo de Evidencia -->
                                        @*<div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">*@
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="form-cria-cliente-contrato" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Arquivo_evidencia</label>
                                                <br />
                                                <ul class="@(Model.IdRegistroConformidade > 0 ? "dashed" : null)">
                                                    @if (listaEvidencias.Count > 0)
                                                    {
                                                        foreach (var evidencia in listaEvidencias)
                                                        {
                                                            <li>
                                                                @evidencia.Nome
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </div>






                            </div>
                        </form>

                        <!-- Formulario Acao Imediata -->
                        <form id="form-acaoimediata">
                            <div id="panel-acaoimediata">


                                <div>
                                    <div>
                                        <h4>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Status_Acao_imediata</h4>
                                    </div>
                                </div>
                                <div class="caixa">
                                    <div id="panel-form-acaoimediata">
                                        <div>
                                            <div class="row">
                                                <!-- E Procedente -->
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_EProcedente</label>
                                                        <div class="">
                                                            @(Model.EProcedente == true ? Traducao.Resource.Sim : Traducao.Resource.Nao)
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Data Descricao Acao -->
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label for="form-acaoimediata-dt-descricao-acao">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_DtDescricaoAcao</label>
                                                        <br />
                                                        @(Model.DtDescricaoAcao.HasValue ? Model.DtDescricaoAcao.Value.ToString(@Traducao.Resource.dateFormat) : "")
                                                    </div>
                                                </div>


                                                @if (!string.IsNullOrEmpty(Model.DescricaoAcao))
                                                {

                                                    <!-- Justificativa -->
                                                    <div>
                                                        <div class="col-xs-2">
                                                            <div class="form-group">
                                                                <label for="form-acaoimediata-justificativa" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Justificativa</label>
                                                                <br />
                                                                @Model.DescricaoAcao
                                                            </div>
                                                        </div>
                                                    </div>

                                                }


                                                <div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-Status" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_StatusEtapa</label>
                                                            <br />
                                                            @if (@Model.StatusEtapa == 1)
                                                            {
                                                                <p class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Status_Acao_imediata</p>
                                                            }
                                                            else if (@Model.StatusEtapa == 2)
                                                            {
                                                                <p class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Status_Implementacao</p>
                                                            }
                                                            else if (@Model.StatusEtapa == 3)
                                                            {
                                                                <p class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Status_Reverificacao</p>
                                                            }
                                                            else if (@Model.StatusEtapa == 4)
                                                            {
                                                                <p class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Status_Encerrada</p>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>


                                        @if (Model.EProcedente == true)
                                        {
                                            <div>

                                                <div class="row">
                                                    <!-- Painel Acao Imediata -->
                                                    <div>
                                                        <div class="form-group">
                                                            <table id="tb-acao-imediata" class="table table-striped table-bordered table-list" style="" name="formAcaoImadiata">
                                                                <thead>
                                                                    <tr role="row">
                                                                        <th class="w20">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_AI_Acao_descricao</th>
                                                                        <th class="w7">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_AI_Prazo_implementacao</th>
                                                                        <th class="w10">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_AI_Responsavel_implementar</th>
                                                                        <th class="w7">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_AI_Efetiva_implementacao</th>
                                                                        <th class="w7">Observação</th>
                                                                        <th class="w7">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_AI_Arquivo_evidencia</th>
                                                                        <th class="w7"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{var count = 0;}
                                                                    @foreach (var acaoImediata in Model.AcoesImediatas)
                                                                    {
                                                                        count++;
                                                                        <tr role="row" class="odd">
                                                                            <!-- Descricao -->
                                                                            <td>

                                                                                @acaoImediata.Descricao
                                                                            </td>
                                                                            <!-- Prazo Implementacao -->
                                                                            <td>
                                                                                @acaoImediata.DtPrazoImplementacao.Value.ToString(@Traducao.Resource.dateFormat)
                                                                            </td>
                                                                            <!-- Responsavel Implementar -->
                                                                            <td>
                                                                                @acaoImediata.ResponsavelImplementar.NmCompleto
                                                                            </td>
                                                                            <!-- Data Efetiva Implementacao -->
                                                                            <td>
                                                                                @(acaoImediata.DtEfetivaImplementacao != null ? acaoImediata.DtEfetivaImplementacao.Value.ToString(@Traducao.Resource.dateFormat) : null)
                                                                            </td>
                                                                            <!-- Observação-->
                                                                            <td>
                                                                                @(acaoImediata.Observacao)
                                                                            </td>
                                                                            <!-- Arquivo de Evidencia -->
                                                                            <td>
                                                                                @{
                                                                                    if (acaoImediata.ArquivoEvidencia.Count > 0)
                                                                                    {
                                                                                        foreach (var acaoImediataArquivoEvidencia in acaoImediata.ArquivoEvidencia)
                                                                                        {
                                                                                            var nomeAnexo = "";
                                                                                            nomeAnexo = acaoImediataArquivoEvidencia.Anexo.Nome;

                                                                                            @nomeAnexo
                                                                                            <br />
                                                                                        }
                                                                                    }

                                                                                }

                                                                            </td>
                                                                            <!-- Acoes -->
                                                                            <td>
                                                                                @if (acaoImediata.Aprovado != null && acaoImediata.Aprovado.Value == true)
                                                                                {
                                                                                    if (acaoImediata.Aprovado.Value == true)
                                                                                    {
                                                                                        <button type="button" class="btn btn-ok-acao-imediata ativo-color">
                                                                                            <i class="fa fa-check-circle " aria-hidden="true"></i>
                                                                                        </button>

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button type="button" class="btn btn-notok-acao-imediata trash-color">
                                                                                            <i class="fa fa-times-circle " aria-hidden="true"></i>
                                                                                        </button>
                                                                                    }

                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- E Correcao -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_ECorrecao</label>
                                                            <br />
                                                            @(Model.ECorrecao == true ? Traducao.Resource.Sim : Traducao.Resource.Nao)


                                                        </div>
                                                    </div>
                                                    <!-- Necessita Acao corretiva -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Necessita_AC</label>
                                                            <br />
                                                            @(Model.NecessitaAcaoCorretiva == true ? Traducao.Resource.Sim : Traducao.Resource.Nao)


                                                        </div>
                                                    </div>
                                                    <!-- Responsavel Reverificacao -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-responsavel-reverificacao" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Responsavel_reverificacao</label>
                                                            <br />
                                                            @if (@Model.ResponsavelReverificador != null)
                                                            {
                                                                @Model.ResponsavelReverificador.NmCompleto
                                                            }
                                                        </div>
                                                    </div>
                                                    <!-- Foi Eficaz -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Foi_eficaz</label>
                                                            <br />
                                                            @(Model.FlEficaz == true ? Traducao.Resource.Sim : Traducao.Resource.Nao)

                                                        </div>
                                                    </div>
                                                    <!-- Responsavel Tratativa -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-responsavel-tratativa" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Responsavel_tratativa</label>
                                                            <br />
                                                            @nomeResponsavelAcaoCorretiva

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- Numero Acao Corretiva -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-numero-ac" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Nm_acao_corretiva</label>
                                                            <br />
                                                            @nuRegistro
                                                        </div>
                                                    </div>

                                                    <!-- Analise da Causa -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-analise-causa" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Analise_causa</label>
                                                            <br />
                                                            @descricaoRegistro
                                                        </div>
                                                    </div>

                                                    <!-- Analise do Parecer -->
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label for="form-acaoimediata-parecer" class="control-label">@Traducao.NaoConformidade.ResourceNaoConformidade.NC_lbl_Parecer</label>
                                                            <br />
                                                            @Model.Parecer
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    @*Fim -------*@
</body>
</html>