@using ApplicationService.Entidade
@using ApplicationService.Enum
@using Dominio.Enumerado
@model IEnumerable<Dominio.Entidade.Indicador>
@{
    ViewBag.Title = "Indicador";


    var listaPermissoes = new List<PermissoesApp>();
    listaPermissoes.AddRange(ViewBag.Permissoes);


}
@section Metas {
    <meta name="page" content="IndexIndicador" />
}
@Html.AntiForgeryToken()
<input type="hidden" name="msgIconeDeleteIndicador" value="@Traducao.Indicador.ResourceIndicador.Indicador_msg_icone_delete" />
@section scripts {
    <script src="@Url.Content("~/Content/assets/js/IndicadorController.js")"></script>

}
<div id="main">
    <div class="content-painel">
        <!-- Formulario Indicador -->
        <form id="form-indicador">
            <div class="panel panel-default" id="panel-indicador">
                <div class="panel-body" id="panel-form-indicador">
                    <div class="row">
                        <div class="barra-busca">
                            @if (listaPermissoes.Any(x => x.IdFuncao == (int)FuncoesIndicadores.DefinirAcao) || ViewBag.IdPerfil != 4)
                            {
                                <p class="novo">
                                    @Html.ActionLink(Traducao.Indicador.ResourceIndicador.Indicador_lbl_novo_indicador, "Criar", "Indicador")
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </p>
                            }
                            <div class="col-lg-12">
                                <table id="tb-index-indicador" class="display table table-striped table-bordered dt-responsive nowrap" style="width:100% !important;">
                                    <thead>
                                        <tr class="bg">
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Processo" />
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Objetivo" />
                                            </th>
                                            <th class="w15 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Meta" />
                                            </th>
                                            <th class="w15 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Unidade" />
                                            </th>
                                            <th class="w15 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Responsavel" />
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Indicador.ResourceIndicador.Indicador_lbl_Sentido" />
                                            </th>
                                            <th class="w5 with-input"></th>
                                        </tr>
                                        <tr class="bg">
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Processo
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Objetivo
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Meta
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Unidade
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Responsavel
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Sentido
                                            </th>
                                            <th>
                                                @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Acoes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Processo.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Objetivo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MetaAnual)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Unidade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Responsavel.NmCompleto)
                                            </td>
                                            <td>
                                                @if (item.Direcao == (int)DirecaoIndicador.MelhoParaCima)
                                                {
                                                    @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Sentido_dropdown_cima
                                                }
                                                else
                                                {
                                                    @Traducao.Indicador.ResourceIndicador.Indicador_lbl_Sentido_dropdown_baixo
                                                }

                                            </td>
                                            <td>
                                                <a href="@Url.Action("Editar", "Indicador", new { id = item.Id })" class="edit icon-cliente  editar-color">
                                                    <i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="@Traducao.Shared.ResourceButtons.btn_lbl_editar"></i>
                                                </a>
                                                <a href="#" class="icon-cliente trash-color del-indicador" data-id-indicador="@item.Id">
                                                    <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="@Traducao.Shared.ResourceButtons.btn_lbl_excluir"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
        </form>
    </div>
</div>