@using ApplicationService.Entidade
@using ApplicationService.Enum
@using Dominio.Entidade
@using Dominio.Enumerado

@model IEnumerable<Dominio.Entidade.Log>
@{
    ViewBag.Title = "Log";

}
@section Metas {
    <meta name="page" content="IndexLog" />
}
@section scripts {
    <script src="@Url.Content("~/Content/assets/js/ClienteController.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/LogController.js")"></script>

}

@Html.AntiForgeryToken()
<div id="main">
    <div class="content-painel">
        <!-- Formulario log -->
        <form id="form-list-">
            <div class="panel panel-default" id="panel-log">
                <div class="panel-body" id="panel-form-log">
                    <div class="row">
                        <div class="barra-busca">
                            <div class="col-lg-12">
                                <table id="tb-log" class="display table table-striped table-bordered dt-responsive" style="width:100% !important;">
                                    <thead>
                                        <tr id="hr1" class="bg">
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_IdLog">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_IdAcao">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_IP">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_Browser">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_Mensagem">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_DtCadastro">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_IdUsuario">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_Modulo">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_Id">
                                            </th>
                                            <th class="w10 with-input">
                                                <input type="text" class="form-control" placeholder="@Traducao.Log.ResourceLog.IN_lbl_NmCliente">
                                            </th>
                                        </tr>
                                        <tr class="bg">
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_IdLog</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_IdAcao</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_IP</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_Browser</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_Mensagem</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_DtCadastro</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_NmUsuario</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_Modulo</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_Id</th>
                                            <th>@Traducao.Log.ResourceLog.IN_lbl_NmCliente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var log in Model)
                                            {
                                                <tr class="odd">
                                                    <td>@log.IdLog</td>
                                                    @{
                                                        <td>
                                                            @if (log.IdAcao != null)
                                                            {
                                                                @Web.UI.Helpers.EnumExtensions.ToName((Acao)log.IdAcao)
                                                            }
                                                        </td>
                                                    }

                                                    <td>@log.IP</td>
                                                    <td>@log.Browser</td>
                                                    <td>@log.Mensagem</td>
                                                    <td>@log.DataCadastro</td>
                                                    <td>@log.Usuario.NmCompleto</td>
                                                    @{
                                                        <td>
                                                            @if (log.Modulo != null)
                                                            {
                                                                @Web.UI.Helpers.EnumExtensions.ToName((Funcionalidades)log.Modulo)
                                                            }
                                                        </td>
                                                    }
                                                    <td>@log.Id</td>
                                                    @{
                                                        <td>
                                                            @if (log.Cliente != null)
                                                            {
                                                                @log.Cliente.NmFantasia
                                                            }
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
