@model Dominio.Entidade.Usuario
@{
    ViewBag.Title = "AlterarSenha";
}
@section Metas {
    <meta name="page" content="AlterarSenha" />
}

@section scripts {
    <script src="@Url.Content("~/Content/assets/js/UsuarioController.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/LoginController.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/SiteController.js")"></script>
}
<input type="hidden" id="IdSite" value="@ViewBag.IdSite" />
<div id="main">
    <div class="content-painel">
        <!-- Formulario -->
        <form id="form-alterar-senha">
            <div class="panel panel-default" data-toggle="collapse" id="novo-alterarsenha">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_titulo</h2>
                    </div>
                </div>
                <div class="panel-body" id="panel-form-alterarsenha">

                    @if (ViewBag.SenhaExpirada == true)
                    {
                        <div class="alert alert-info">
                            <strong>Atenção!</strong> @Traducao.Usuario.ResourceUsuario.AlteraSenha_lbl_SuaSenhaExpirou
                        </div>
                    }

                    <div class="barra-busca">
                        <div class="row">
                            <input type="hidden" name="formAlterarSenhaUtilizaSenhaForte" value="@ViewBag.UtilizaSenhaForte" />
                            <input type="hidden" name="formAlterarSenhaIdUsuario" value="@Model.IdUsuario" />
                            <input type="hidden" name="lblStrongPasswordMuitoPequena" value="@Traducao.Resource.StrongPassword_lbl_muito_pequena" />
                            <input type="hidden" name="lblStrongPasswordFraca" value="@Traducao.Resource.StrongPassword_lbl_fraca" />
                            <input type="hidden" name="lblStrongPasswordMedia" value="@Traducao.Resource.StrongPassword_lbl_media" />
                            <input type="hidden" name="lblStrongPasswordForte" value="@Traducao.Resource.StrongPassword_lbl_forte" />
                            <input type="hidden" name="lblStrongPasswordMuitoForte" value="@Traducao.Resource.StrongPassword_lbl_muito_forte" />
                            <!-- Senha Atual -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="form-alterar-senha-atual">@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_Senha_atual</label>
                                    <input type="password" id="form-alterar-senha-atual" name="formAlterarSenhaAtual" class="form-control"
                                           placeholder="@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_placeholder_Senha_atual"
                                           data-msg-required="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_atual"
                                           value="" />
                                </div>
                            </div>
                            <!-- Nova Senha -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group" id="dv-alterar-senha-nova" data-bs-toggle="tooltip" title="A senha deve conter uma letra maiúscula , uma caractere especial e um numero"">
                                    <label for="form-alterar-senha-nova">@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_Senha_nova</label>
                                    <input type="password" id="form-alterar-senha-nova"  name="formAlterarSenhaNova" class="form-control"
                                           placeholder="@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_placeholder_Senha_nova"
                                           data-msg-required="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_nova"
                                           data-msg-minlength="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_nova_minlength"
                                           data-msg-notEqualsTo="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_notequals"
                                           data-msg-strongPassword="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_nova_strong_pwd"
                                           value="" />
                                </div>
                            </div>
                            <!-- Repetir Senha -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="form-alterar-senha-confirmar">@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_Senha_confirma</label>
                                    <input type="password" id="form-alterar-senha-confirmar" name="formAlterarSenhaConfirmar" class="form-control"
                                           placeholder="@Traducao.Usuario.ResourceUsuario.AlterarSenha_lbl_placeholder_Senha_confirma"
                                           data-msg-required="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_confirma"
                                           data-msg-minlength="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_confirma_minlength"
                                           data-msg-notEqualsTo="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_notequals"
                                           data-msg-equalto="@Traducao.Usuario.ResourceUsuario.AlterarSenha_msg_required_Senha_confirma_equals"
                                           value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
        </form>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row pull-right">
        <div class="col-md-12">
            <button class="btn btn-primary btn-alterar-senha" type="submit">@Traducao.Resource.Salvar</button>
        </div>
    </div>
</div>