
@functions{ 
    //create variable to store permission
    int Permission(string permissao) {

        return new int();
    }

    
}
<div class="button-anexo">
    <button type="button">Anexar</button> 
</div>

<div id="modal-anexo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeCargos2" data-dismiss="modal">
                    <i class="fa fa-times-circle-o black-color" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="@Traducao.Resource.Fechar"></i>
                </button>
                <h4 class="modal-title">Anexo</h4>
            </div>

            <div class="modal-body rai-modal-body">

                    <div class="upload-arq upload-arq-rai" style="text-align: left">
                        <a class="btn-upload2-rai linksemcor">
                            <i class="fa fa-paperclip fa-1x latalixo" aria-hidden="true"></i> @Traducao.Resource.Anexar
                        </a>
                        <input type="file" class="anexo-plai"
                               data-spannroarquivos="raiNroArquivos@(numeroMes)@(pai.Ano)"
                               data-msg-required=""
                               data-b64="">


                        <div class="templatenovoarquivo" style="display: none">
                            <div class="upload-arq upload-arq-rai uploadrai@(numeroMes)@(pai.Ano)" style="text-align: left">
                                @if (listaPermissoesMes.Any(x => x.IdFuncao == (int)FuncoesAuditoria.AnexarPLAI) || ViewBag.IdPerfil != 4)
                                {
                                    <a href="#" class="btn-delete2-rai linksemcor latalixo"
                                       data-spannroarquivos="raiNroArquivos@(numeroMes)@(pai.Ano)"><i class="fa fa-trash fa-1" aria-hidden="true" title="Excluir anexo" data-original-title=""></i></a>
                                }
                                <span class="downrai linksemcor">Anexo: <span class="noemarquivo"></span></span>
                                <input type="hidden" name="IdAnexo" value="0" />
                                <input type="hidden" name="NomeAnexo" value="" />
                                <input type="hidden" name="ApagarAnexo" value="0" />
                                <input type="file" name="ConteudoAnexo" class="anexo-plai" data-msg-required="" data-b64="">
                            </div>

                        </div>
                    </div>

                }

                @foreach (var anexo in listaAnexos)
                {
                    @*
                        cada arquivo estara agrupado por classe, para montar os dados precisa ler por classe e depois os itens dentro dessa classe
                    *@
                    <div class="upload-arq upload-arq-rai uploadrai@(numeroMes)@(pai.Ano)" style="text-align: left">
                        @if (listaPermissoesMes.Any(x => x.IdFuncao == (int)FuncoesAuditoria.AnexarPLAI) || ViewBag.IdPerfil != 4)
                        {
                            <a href="#" class="btn-delete2-rai linksemcor latalixo"
                               data-spannroarquivos="raiNroArquivos@(numeroMes)@(pai.Ano)"><i class="fa fa-trash fa-1" aria-hidden="true" title="Excluir anexo" data-original-title=""></i></a>
                        }
                        @{
                            var ArquivoB64 = String.Format("data:application/" + (anexo.Anexo.Arquivo != null ? anexo.Anexo.Extensao : "") + ";base64," + (anexo.Anexo.Arquivo != null ? Convert.ToBase64String(anexo.Anexo.Arquivo) : ""));
                        }
                        <a href="@ArquivoB64" class="downrai linksemcor" target="_blank" download="@anexo.Anexo.Nome">Anexo: @anexo.Anexo.Nome</a>
                        <input type="hidden" name="IdAnexo" value="@anexo.Anexo.IdAnexo" />
                        <input type="hidden" name="NomeAnexo" value="@anexo.Anexo.Nome" />
                        <input type="hidden" name="ApagarAnexo" value="0" />
                        <input type="hidden" name="IdArquivoPlaiAnexo" value="@anexo.IdArquivoPlaiAnexo" />
                        <input type="hidden" name="IdPlai" value="@anexo.IdPlai" />
                        <input type="file" class="anexo-plai"
                               data-msg-required=""
                               data-b64="@(anexo.Anexo.Arquivo != null && anexo.Anexo.IdAnexo > 0 ? Convert.ToBase64String(anexo.Anexo.Arquivo) : "")">
                    </div>
                }
