@using ApplicationService.Entidade
@using ApplicationService.Enum
@model Web.UI.Models.LayoutImpressaoViewModel



@{
    ViewBag.Title = "EmissaoDocumento";
    Layout = null;

    var listaPermissoes = new List<PermissoesApp>();
    listaPermissoes.AddRange(ViewBag.Permissoes);
}
<html>
<head>
    <meta name="page" content="ConteudoDocumento" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Styles.Render("~/Content/assets/css")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />

</head>
<body style="background:white !important">
    <div class="container">



        <style>
            body
            {
                font-size:10px;
            }

            .ui-timepicker {
                width: 119px !important;
            }

            .ui-timepicker-container {
                width: 128px !important;
                /*overflow: auto;*/
            }

            .ui-timepicker-viewport {
                width: 75px !important;
            }

                .ui-timepicker-viewport li {
                    width: 85px !important;
                }

            .caixa {
                font-family: 'Abel-Regular', sans-serif !important;
                width: 100%;
                padding: 12px 10px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                background: #fff;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .tabela-check {
                background-color: white !important;
            }

            #main {
                max-height: 700px !important;
            }
        </style>




        <div class="" id="main1" style="top: 140px; ">
            <div id="main">
                <input type="hidden" name="StatusEtapa" value="@Model.Documento.FlStatus" />
                <input type="hidden" name="IdUsuarioLogado" value="@ViewBag.IdUsuarioLogado" />
                <input type="hidden" name="IdSite" id="emissao-documento-site" value="@(Model.Documento.IdSite == 0 ? ViewBag.IdSite : Model.Documento.IdSite)" />
                <input type="hidden" name="IdProcesso" id="emissao-documento-processo" value="@(Model.Documento.IdProcesso == 0 ? ViewBag.IdProcesso : Model.Documento.IdProcesso)" />
                <input type="hidden" name="IdDocumento" id="emissao-documento-IdDocumento" value="@Model.Documento.IdDocumento" />
                <input type="hidden" name="NmUsuarioLogado" id="emissao-documento-NmUsuarioLogado" value="@ViewBag.NmUsuarioLogado" />
                <div class="content-painel">
                    <!-- Formulario CADASTRO -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                @if (Model.IsImpressaoControlada)
                                {
                                    <center>
                                        <div style="color:red">cópia controlada</div>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <div style="color:red">cópia não controlada</div>
                                    </center>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table>
                                        <tr>
                                            <td><img src="data:image/png;base64, @Model.LogoCliente" width="120" height="100" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <form id="form-emissao-documento-cadastro" name="formTest">
                        <input type="hidden" name="eColaborador" id="emissao-documento-e-colaborador" value="@ViewBag.eColaborador" />
                        <input type="hidden" name="IdUsuarioLogado" id="emissao-documento-id-usuario-logado" value="@ViewBag.IdUsuarioLogado" />
                        <input type="hidden" name="NuRevisao" id="emissao-documento-NuRevisao" value="@Model.Documento.NuRevisao" />
                        <div id="panel-form-cadastro">
                            <div>
                                <div>
                                    <h6>@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Cadastro</h6>
                                </div>
                            </div>
                            <div>
                                <div class="caixa">
                                    <div class="col-xs-2">
                                        <!-- Titulo do Documento -->
                                        <div class="form-group">
                                            <label style="font-size:10px" for="form-cadastro-titulo-documento">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_TituloDocumento</label>
                                            <br />
                                            @Model.Documento.Titulo
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <!-- Sigla -->
                                        <div class="form-group">
                                            <label for="form-cadastro-sigla">
                                                @Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Sigla
                                            </label>
                                            <br />
                                            @Model.Documento.Sigla.Descricao
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <!-- Numero Documento -->
                                        <div class="form-group">
                                            <label for="form-cadastro-numero-documento">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_NumeroDocumento</label>
                                            <br />
                                            @{
                                                string numeroDocumento = ((Model.Documento.NumeroDocumento % 2).Equals(1) || (Model.Documento.NumeroDocumento % 2).Equals(0) ? @Model.Documento.NumeroDocumento.ToString("000") : @Model.Documento.NumeroDocumento.ToString().Replace(".", ","));
                                            }
                                            @numeroDocumento
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <!-- Processo -->
                                        <div class="form-group">
                                            <label for="form-cadastro-processo">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Processo</label>
                                            <br />
                                            @(Model.Documento.Processo != null ? Model.Documento.Processo.Nome : "")

                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <!-- Categoria -->
                                        <div class="form-group">
                                            <label for="form-cadastro-categoria">
                                                @Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Categoria
                                                <i class="fa fa-plus-circle trash-color add-categoria" style="display:none" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Adicione uma categoria." data-tipo="CATDOC" data-site="@(Model.Documento.IdSite == 0 ? ViewBag.IdSite : Model.Documento.IdSite)"></i>
                                            </label>
                                            <br />
                                            @Model.Documento.Categoria.Descricao
                                        </div>
                                    </div>

                                    <div style="display: none">
                                        <!-- Escolha -->
                                        <div class="form-group">
                                            <label for="form-cadastro-escolha">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Escolha</label>
                                            <!-- Linha -->
                                            <div class="row tabela-check">
                                                <!-- Texto -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-texto" class="" value="T" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "T") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "T").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "T") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-texto">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Texto</label>
                                                </div>
                                                <!-- Fluxo -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-fluxo" class="" value="F" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "F") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "F").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "F") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-fluxo">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Fluxo</label>
                                                </div>
                                                <!-- Registros -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-registros" class="" value="R" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "R") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "R").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "R") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-registros">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Registros</label>
                                                </div>
                                                <!-- Rotina -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-rotina" class="" value="RO" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RO") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RO").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RO") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-rotina">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Rotina</label>
                                                </div>
                                                <!-- Recursos -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-recursos" class="" value="RE" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RE") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RE").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RE") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-recursos">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Recursos</label>
                                                </div>
                                                <!-- Riscos -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-riscos" class="" value="RI" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RI") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RI").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RI") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-riscos">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Riscos</label>
                                                </div>
                                                <!-- Licenca -->
                                                @*<div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                        <input type="checkbox" name="formCadastroEscolha" id="form-cadastro-escolha-licenca" class="" value="L" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "L") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "L").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "L") != null ? "checked" : "")>
                                        <label for="form-cadastro-escolha-licenca">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Licenca</label>
                                    </div>*@
                                                <!-- Docs Externos -->
                                                <div class="col-lg-2 col-md-3 col-xs-6 col-xs-12 checkbox">
                                                    <input type="checkbox" disabled name="formCadastroEscolha" id="form-cadastro-escolha-docsexternos" class="" value="DE" data-id="@(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "DE") != null ? Model.Documento.DocTemplate.Find(x => x.TpTemplate == "DE").IdDocTemplate.ToString() : "")" @(Model.Documento.DocTemplate.Find(x => x.TpTemplate == "DE") != null ? "checked" : "")>
                                                    <label for="form-cadastro-escolha-docsexternos">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_DocsExternos</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Formulario TEXTO -->
                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "T") != null)
                    {
                        <form id="form-emissao-documento-texto">
                            <div id="panel-form-texto">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Texto</h6>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="caixa">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div id=@Traducao.Resource.formulario>
                                                    @Html.Raw(Model.Documento.TextoDoc)
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    }

                    <!-- Formulario FLUXO -->
                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "F") != null)
                    {
                        <form id="form-emissao-documento-fluxo">
                            <div id="panel-form-fluxo">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Fluxo</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row containerGraph">
                                                    <div class="col-md-1 col-xs-2 tollbarGraph">
                                                        <div id="toolbar" valign="top"></div>
                                                    </div>
                                                    <div class="col-md-11 col-xs-10">
                                                        <input type="hidden" value="@Model.Documento.FluxoDoc" id="form-emissao-documento-fluxo-conteudo" />
                                                        <div id="graphContainer" disabled>
                                                            <!-- Graph Here -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    }

                    <!-- Formulario REGISTROS -->
                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "R") != null)
                    {
                        <form id="form-emissao-documento-registros">
                            <div id="panel-form-registros">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Registros</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <table id="tb-form-registros" class="table table-striped table-bordered table-list">
                                                    <thead>
                                                        <tr>
                                                            <th class="w10 with-input">@Traducao.Resource.Identificar</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Armazenar</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Proteger</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Recuperar</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Retencao</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Disposicao</th>
                                                            <th class="w5 text-nowrap"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Documento.DocTemplate.Find(t => t.TpTemplate == "R") != null)
                                                        {
                                                            foreach (var registro in Model.Documento.Registros)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="hidden" name="formRegistrosIdRegistroDoc" value="@registro.IdDocRegistro" />
                                                                        @registro.Identificar
                                                                    </td>
                                                                    <td>
                                                                        @registro.Armazenar
                                                                    </td>
                                                                    <td>
                                                                        @registro.Proteger
                                                                    </td>
                                                                    <td>
                                                                        @registro.Recuperar
                                                                    </td>
                                                                    <td>
                                                                        @registro.Retencao
                                                                    </td>
                                                                    <td>
                                                                        @registro.Disposicao
                                                                    </td>

                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }

                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RO") != null)
                    {
                        <!-- Formulario ROTINA -->
                        <form id="form-emissao-documento-rotina">
                            <div id="panel-form-rotina">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Rotina</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table id="tb-form-rotina" class="table table-striped table-bordered table-list">
                                                    <thead>
                                                        <tr>
                                                            <th class="w10 with-input">@Traducao.Resource.Item</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Oque</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Quem</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Registro</th>
                                                            <th class="w10 with-input">@Traducao.Resource.Como?</th>
                                                            <th class="w5 text-nowrap"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Documento.DocTemplate.Find(t => t.TpTemplate == "RO") != null)
                                                        {
                                                            foreach (var rotina in Model.Documento.Rotinas)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="hidden" name="formRotinaIdRotina" value="@rotina.IdDocRotina" />
                                                                        @rotina.Item
                                                                    </td>
                                                                    <td>
                                                                        rotina.OQue
                                                                    </td>
                                                                    <td>
                                                                        @rotina.Quem
                                                                    </td>
                                                                    <td>
                                                                        @rotina.Registro
                                                                    </td>
                                                                    <td>
                                                                        @rotina.Como
                                                                    </td>

                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }


                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RE") != null)
                    {
                        <!-- Formulario RECURSOS -->
                        <form id="form-emissao-documento-recursos">
                            <div id="panel-form-recursos">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Recursos</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div id="formulario">
                                                    @Html.Raw(Model.Documento.RecursoDoc)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }



                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "RI") != null)
                    {
                        <!-- Formulario RISCOS -->
                        <form id="form-emissao-documento-riscos">
                            <div id="panel-form-riscos">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.Riscos</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Documento.IdGestaoDeRisco, new { @id = "idgestaorisco" })
                                                <!-- Identificacao -->
                                                <label for="form-riscos-identificacao">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_IdentificacaoRisco</label>
                                                <br />
                                                @(Model.Documento.GestaoDeRisco != null ? Model.Documento.GestaoDeRisco.DescricaoRegistro : "")
                                            </div>
                                        </div>

                                        <!-- Criticidade -->
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="form-riscos-criticidade" class="control-label">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Risco</label>
                                                @{
                                                    var Criticidade = "";
                                                }
                                                @if (Model.Documento.GestaoDeRisco != null)
                                                {
                                                    if (Model.Documento.GestaoDeRisco.CriticidadeGestaoDeRisco <= 5)
                                                    {
                                                        Criticidade = @Traducao.Resource.Leve;
                                                    }
                                                    else if (Model.Documento.GestaoDeRisco.CriticidadeGestaoDeRisco > 5 && Model.Documento.GestaoDeRisco.CriticidadeGestaoDeRisco <= 10)
                                                    {
                                                        Criticidade = Traducao.Resource.Medio;
                                                    }
                                                    else
                                                    {
                                                        Criticidade = Traducao.Resource.Auto;
                                                    }
                                                }

                                                <br />@Criticidade
                                            </div>
                                        </div>
                                        <!-- Necessita Acao -->
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>@Traducao.GestaoDeRisco.ResourceGestaoDeRisco.GR_lbl_EProcedente</label>
                                                <div class="">
                                                    @(Model.Documento.PossuiGestaoRisco == true ? Traducao.Resource.Sim : Traducao.Resource.Nao )
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-sm-2">
                                            @if (Model.Documento.GestaoDeRisco != null && !string.IsNullOrEmpty(Model.Documento.GestaoDeRisco.Causa))
                                            {
                                                <div class="form-group">
                                                    <!-- Causa -->
                                                    <label for="form-riscos-causa" class="control-label">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Causa</label>
                                                    <br />
                                                    @(Model.Documento.GestaoDeRisco != null ? Model.Documento.GestaoDeRisco.Causa : "" )
                                                </div>
                                            }
                                        </div>
                                        @if (Model.Documento.GestaoDeRisco != null && !string.IsNullOrEmpty(Model.Documento.GestaoDeRisco.DsJustificativa))
                                        {
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <!-- Justificativa -->
                                                    <label for="form-riscos-causa" class="control-label">@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Justificativa</label>
                                                    <br />
                                                    @(Model.Documento.GestaoDeRisco != null ? Model.Documento.GestaoDeRisco.DsJustificativa : "")
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    }


                    <!-- Formulario DOCS.EXTERNOS -->
                    @if (Model.Documento.DocTemplate.Find(x => x.TpTemplate == "DE") != null)
                    {
                        <form id="form-emissao-documento-docsexternos">
                            <div id="panel-form-docsexternos">
                                <div>
                                    <div>
                                        <h6>@Traducao.Resource.UploadArquivos</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="caixa">

                                        <div class="col-md-12" style="height:30%; margin-bottom: 30px;">
                                            <div class="form-group">
                                                <!-- Arquivo -->
                                                <label>@Traducao.ControlDoc.ResourceControlDoc.ControlDoc_lbl_Arquivo</label>
                                                <div class="upload-arq  @(Model.Documento.IdDocumento > 0 ? "box-upload-arq" : null)">
                                                    <ul>
                                                        @if (Model.Documento.DocExterno != null)
                                                        {
                                                            <li>
                                                                <a href="@Model.Documento.DocExterno.Anexo.ArquivoB64" target="_blank" download="@Model.Documento.DocExterno.Anexo.Nome">@Model.Documento.DocExterno.Anexo.Nome</a>
                                                                <input type="hidden" name="formDocExternoAnexoNome" value="@Model.Documento.DocExterno.Anexo.Nome">
                                                                <input type="hidden" name="formDocExternoAnexoIdAnexo" value="@Model.Documento.DocExterno.Anexo.IdAnexo">
                                                            </li>
                                                        }

                                                    </ul>
                                                    <input type="file" name="formDocExternoAnexoAnexo" id="form-docexterno-anexo"
                                                           class=""
                                                           data-msg-required=""
                                                           data-b64="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }


                    <!-- Assunto -->
                    <form id="form-emissao-documento-assuntos">


                        <div id="panel-form-riscos">
                            <div>
                                <div>
                                    <h6 class="modal-title">@Traducao.Resource.Assunto</h6>
                                </div>
                            </div>
                            <div>

                                <div class="caixa">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <table id="tb-emissao-documento-form-assuntos" class="table table-striped table-bordered table-list" style="width:100% !important;">
                                                <thead>
                                                    <tr>
                                                        <th class="w20 with-input">@Traducao.Resource.Revisao</th>
                                                        <th class="w20 with-input">@Traducao.Resource.DataVersao</th>
                                                        <th class="w80 with-input">@Traducao.Resource.Descricao</th>
                                                        <th class="w20 text-nowrap"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabelaAssuntos">
                                                    @if (Model.Documento.Assuntos != null)
                                                    {
                                                        foreach (var assunto in Model.Documento.Assuntos)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @assunto.Revisao
                                                                </td>

                                                                <td>
                                                                    @assunto.DataAssunto.ToString(Traducao.Resource.formato_data)
                                                                </td>

                                                                <td>
                                                                    @assunto.Descricao
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </form>



                </div>
            </div>
        </div>

    </div>

    @Html.Partial("_OpcoesScripts")

    <script type="text/javascript">
        var mxBasePath = '../../Content/assets_src/js/vendor/mxGraph/javascript/src';
        mxDefaultLanguage = 'pt';

        var APP = {
            core: {},
            model: {},
            component: {},
            controller: {}
        };

    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/Core.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/Model.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/Component.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/GeneralController.js")"></script>
    <script src="@Url.Content("~/Content/assets_src/js/vendor/mxGraph/javascript/src/js/mxClient.js")"></script>
    <script src="@Url.Content("~/Content/assets_src/js/vendor/mxGraph/javascript/src/js/mxApplication.js")"></script>
    <script src="@Url.Content("~/Content/assets_src/js/components/_print.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/ControlDocController.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/ControladorCategoriasController.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/NotificacaoController.js")"></script>
</body>
</html>