@using ApplicationService.Entidade
@using ApplicationService.Enum
@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering
@model Dominio.Entidade.Relatorio


@{
    ViewBag.Title = Model.Nome;

    var listaPermissoes = new List<PermissoesApp>();
    listaPermissoes.AddRange(ViewBag.Permissoes);

}
@section Metas {
    <meta name="page" content="IndexRelatorio" />
}



@section scripts {
    <script src="@Url.Content("~/Content/assets/js/RelatorioController.js?rnd=3")"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>

}

<div id="main">
    <div class="content-painel">
        <!-- Formulario Acao Corretiva -->
        <form id="form-acaocorretiva">
            <div class="panel panel-default" id="panel-acaocorretiva">
                <div class="panel-body" id="panel-form-acaocorretiva">
                    <div class="barra-busca">
                        @{ var chartOptions = new Highcharts
                            {
                                Title = new Title
                                {
                                    Text = Model.Nome
                                },
                                Subtitle = new Subtitle
                                {
                                    Text = ""
                                },

                                XAxis = new List<XAxis>
{
                new XAxis
                {
                    Title = new XAxisTitle
                    {
                        Text = null
                    },
                    Categories = ViewData["Categories"] as List<string>
                }
            },
                                YAxis = new List<YAxis>
{
                new YAxis
                {
                    Min = 0,
                    Title = new YAxisTitle
                    {
                        Text = Model.Nome,
                        Align = YAxisTitleAlign.Middle
                    }
                }
            },
                                Tooltip = new Tooltip
                                {
                                    ValueSuffix = "Qtd"
                                },
                                PlotOptions = new PlotOptions
                                {
                                    Bar = new PlotOptionsBar
                                    {
                                        EnableMouseTracking = false,
                                        ShadowBool = false,
                                        Animation = new Animation
                                        {
                                            Enabled = true,

                                        },
                                        DataLabels = new PlotOptionsBarDataLabels
                                        {
                                            Enabled = true
                                        }

                                    }

                                },
                                Legend = new Legend
                                {
                                    Layout = LegendLayout.Vertical,
                                    Align = LegendAlign.Right,
                                    VerticalAlign = LegendVerticalAlign.Top,
                                    X = -40,
                                    Y = 100,
                                    Floating = false,
                                    BorderWidth = 1,
                                    BackgroundColor = "white",
                                    Shadow = new Shadow
                                    {
                                        Enabled = true
                                    }
                                },
                                Credits = new Credits
                                {
                                    Enabled = false
                                },
                                Series = new List<Series>
{
                new BarSeries
                {
                    Name = "Total",
                    Data = @ViewData["FechadasAno"] as List<BarSeriesData>
                },
                //new BarSeries
                //{
                //    Name = "Year 1900",
                //    Data = @ViewData["year1900Data"] as List<BarSeriesData>
                //},
                //new BarSeries
                //{
                //    Name = "Year 2008",
                //    Data = @ViewData["year2008Data"] as List<BarSeriesData>
                //}
            }
                            };

                            chartOptions.ID = "chart";
                            var renderer = new HighchartsRenderer(chartOptions);

                            var testeHtml = renderer.RenderHtml();

                        }


                        @Html.Raw(renderer.RenderHtml())

                        @Html.Partial("_OpcoesScripts")
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



    